@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");

#books > h1 {
    text-align: center;
}

#cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.card {
    height: auto;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(57, 57, 57, 0.345), 0 6px 20px 0 rgba(48, 48, 48, 0.336);
}

.card > img{
    height: auto;
    width: 100%;
}