body {
    margin: 0;
}

#formos {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#formos2 {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#formos3 {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#formos4 {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

#formos5 {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

#formos6 {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}